.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}




body {
    background-color:#caccd1;
    color: #000;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

    
#particles-js {
    height: 100vh;
    width:100px;
    position:fixed;
    z-index: -1;
}


.caja {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color:#00829B;
    background: #000000;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    }
.navbar{
    font-family: 'Oswald', sans-serif;
    font-size:20px;
}

.navbar.navbar-inverse .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.show, .navbar-inverse .navbar-nav .show>.nav-link {
    color: goldenrod;
}

.navbar.navbar-inverse  {
    color: goldenrod;
}

.navbar.navbar-inverse.navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
    color: black !important;
}




.navbar .nav-link{
    color: goldenrod;
    font-size: 14px;
    font-family: 'Oswald',sans-serif;
}

.navbar-brand {
    align-self: auto;
    
}




.img1{
    right:30px;
}
/* contenido de la pagina /*

position:relative;
z-index:99;

/*  */


img{
    display:block;
    margin:auto;
    position:relative;
    z-index:99;
    width: 320px; 
    height: 150px;
    }

.navbar-brand img{
    width: 55px;
    height: 90px;
}

/* search form  */ 
.searchform{padding:10px 15px; float:right} 
.searchform .btn{ color:rgba(200,200,200,.5);border: 1px solid transparent; background-color: #146eb4; }
.searchform .form-control{
	border:0; color:#fff;
	background-color:rgba(200,200,200,.1);
	width:120px!important;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}
.searchform .form-control:hover, .searchform .form-control:focus {
   width: 170px!important;
}


/*Slider carrousel */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body{ 
  margin:0px 0px; 
  font-family: 'Roboto', "arial", monospace;
}



.headline{
   top: 50%;
   position: absolute;
   z-index: 3;
   color: #fff;
}

.headline h1{
  font-size: 2rem;
  font-weight: 300;
}

.arrow{
  color: #fff;
  z-index: 2;
  position: absolute;
  top: 80%;
  transition: color 1s;
}

.arrow:hover{
  cursor: pointer;
  color: #444;
   
}

.arrow-next{
  left: 20%;
}

.arrow-prev{
  right: 20%;
}



@media(min-width: 750px){
  
.headline{
  text-align: center;
}

.headline h1{
  font-size: 3.5rem;
  line-height: .5rem;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: right; 
}

.headline p{
  font-size: 1.5rem;
}
  
.arrow-next{
  left: 40%;
}

.arrow-prev{
  right: 40%;
}
  
}

#slides{
  position: relative;
  height: 100vh;
  list-style: none;
  padding: 0;
  margin: 0;  
}

.slide{
  height:100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;  
  background-size: cover;
}

.showing{
  opacity: 1;
  z-index: 2;
}

.slide1{
  background-image: url("/PWFractal/img/HABITACION\ FINA.jpg")
}

.slide2{
  background-image: url("https://casasprefabricadaschile.cl/wp-content/uploads/2020/06/casas-mediterraneas-prefabricadas.jpg")
}

.slide3{
  background-image: url("/PWFractal/img/cpirul.jpg")
}




