.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


/* ESTILOS GENERALES */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color:#fff;
    color: #000;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

    
#particles-js {
    height: 100vh;
    width:100;
    position:fixed;
    z-index: -1;
}

.navbar{
    font-family: 'Oswald',sans-serif;
}

/* contenido de la pagina /*

position:relative;
z-index:99;

/*  */


img{
    display:block;
    margin:auto;
    position:relative;
    z-index:99;
    width: 320px; 
    height: 150px;
    }

.navbar-brand img{
    width: 80px;
    height: 100px;
}

/* search form  */ 
.searchform{padding:10px 15px; float:right} 
.searchform .btn{ color:rgba(200,200,200,.5);border: 1px solid transparent; background-color: #146eb4; }
.searchform .form-control{
	border:0; color:#fff;
	background-color:rgba(200,200,200,.1);
	width:120px!important;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}
.searchform .form-control:hover, .searchform .form-control:focus {
   width: 170px!important;
}





