.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}




body {
    background-image:url(/PWFractal/img/FONDO.jpg);
    background-attachment: fixed;
    color: #000;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-size: cover;
}

    


.caja {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color:#00829B;
    background: #000000;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    }


.navbar{
    font-family: 'Oswald', sans-serif;
    font-size:20px;
    
    align-content: center;
    border: 1px solid transparent;
    border-radius: 2px;
    display: flex;
    text-decoration: none;
  
}


.navbar.navbar-inverse .navbar-brand {
  color:#007481;
}

.navbar.navbar-inverse .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.show, .navbar-inverse .navbar-nav .show>.nav-link {
  color:#007481;
}

.navbar.navbar-inverse .navbar-nav .nav-link {
  color:#007481;
}

.navbar.navbar-inverse.navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
  color: black !important;
}






.navbar-brand {
    align-self: auto;
    
}




.img1{
    right:30px;
}
/* contenido de la pagina /*

position:relative;
z-index:99;

/*  */



.carousel .background {
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 700px;
}

@media (max-width:991px) {
  .carousel .background {
    background-size: cover; /* To make the background image looks good */
  }
}

.carousel .background.a {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/PWFractal/img/HABITACION\ FINA.jpg");
}

.carousel .background.b {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/PWFractal/img/cpirul.jpg");
}

.carousel .background.c {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static.pexels.com/photos/76827/bahia-ocean-bay-boat-76827-large.jpeg");
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 0.5s; /* The 0.5s describes the duration to make the opacity from 0 to 1 */
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

/* CSS Hack to trigger GPU for smooth transition */
@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* CSS Hack to trigger GPU for smooth transition */

.covertext {
  position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
  top: 200px; /* The distance between the div with the top of document */
  left: 0px; /* Make the div full width */
  right: 0px; /* Make the div full width */
}

.title {
  font-family: Verdana;
  font-weight: 600;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
}

.subtitle {
  font-family: Verdana;
  font-size: 23px;
  color: #ffffff;
  text-align: center;
}

.explore {
  text-align: center;
  margin-top: 10px;
}

.explore .btn-lg,
.explore .btn-lg:hover {
  border-radius: 30px;
  padding: 15px 25px;
  font-size: 22px;
  background-image: none;
  background-color: #FF4000;
  border-color: #FF4000;
  color: #ffffff;
}

.btn,
.btn:hover {
  border-radius: 0px;
  background-image: none;
  background-color: #FF4000;
  border-color: #FF4000;
  color: #ffffff;
  margin-bottom: 20px;
  box-shadow: none;
  outline: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  color: #ffffff;
  outline: none;
}


img{
    display:block;
    margin:auto;
    position:relative;
    z-index:99;
    width: 320px; 
    height: 150px;
    }

.navbar-brand img{
    width: 35px;
    height: 70px;
}

/* search form  */ 
.searchform{padding:10px 15px; float:right} 
.searchform .btn{ color:rgba(200,200,200,.5);border: 1px solid transparent; background-color: #146eb4; }
.searchform .form-control{
	border:0; color:#fff;
	background-color:rgba(200,200,200,.1);
	width:120px!important;
   -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
   transition: all .5s ease;
}
.searchform .form-control:hover, .searchform .form-control:focus {
   width: 170px!important;
}



#footer {
  background: #222;
  color: darkgoldenrod;
  font-size: 0.8rem;
  padding: 2.5rem 0;
  font-family: 'Oswald', sans-serif;
}

.container h4,p {
  font-family:'Oswald', sans-serif;
}

#footer h4 {
    font-size:25px;
}


